@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.image-display-fit {
  height: auto;
  width: 60vw;
}

.test {
  color: blue;
}

button {
  margin-top: 5px;
}
h1 {
  font-size: 18px;
}

.week-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
