@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');

// Vars
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Lato', sans-serif;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.image-display-fit {
  height: auto;
  width: 60vw;
}

.test {
  color: blue;
}

button {
  margin-top: 5px;
}
h1 {
  font-size: 30px;
  font-family: $primary-font;
  padding: 10px;
}
.weather-display-container {
  font-family: $secondary-font;

  .city {
    font-size: 25px;
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }

  .forcast {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .temp {
    font-size: 40px;
    margin: 0;
    padding-top: 2px;
  }
}
.week-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font;
}

.single-day {
  margin: 6px;
}

.icon {
  width: 35px;
  height: auto;
}
.high-container {
  height: 39px;
}

.low-container {
  height: 30px;
}

.credit {
  font-size: 8px;
}

@media only screen and(min-width: 630px) {
  .image-display-fit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;

    img {
      width: 300px;
    }
  }
}
